## Exploratory data analysis

In [1]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# improting the CSV data file 

data_01 = pd.read_csv('/Volumes/KODAK/folder 02/Brest_cancer_prediction/data/train.csv')
data_02_c = data_01.copy()

In [3]:
data_02_c.head()

,site_id,patient_id,image_id,laterality,view,age,cancer,biopsy,invasive,BIRADS,implant,density,machine_id,difficult_negative_case
0,2,10006,462822612,L,CC,61.0,0,0,0,NaN,0,NaN,29,False
1,2,10006,1459541791,L,MLO,61.0,0,0,0,NaN,0,NaN,29,False
2,2,10006,1864590858,R,MLO,61.0,0,0,0,NaN,0,NaN,29,False
3,2,10006,1874946579,R,CC,61.0,0,0,0,NaN,0,NaN,29,False
4,2,10011,220375232,L,CC,55.0,0,0,0,0.0,0,NaN,21,True

In [4]:
# Get number of columns and rows in the data

num_rows, num_cols = data_02_c.shape

print(f'Number of rows: {num_rows}')
print(f'Number of columns: {num_cols}')

Number of rows: 54706
Number of columns: 14

In [5]:
# summary of the data types and non-null columns

print(data_02_c.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54706 entries, 0 to 54705
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   site_id                  54706 non-null  int64
 1   patient_id               54706 non-null  int64
 2   image_id                 54706 non-null  int64
 3   laterality               54706 non-null  object
 4   view                     54706 non-null  object
 5   age                      54669 non-null  float64
 6   cancer                   54706 non-null  int64
 7   biopsy                   54706 non-null  int64
 8   invasive                 54706 non-null  int64
 9   BIRADS                   26286 non-null  float64
 10  implant                  54706 non-null  int64
 11  density                  29470 non-null  object
 12  machine_id               54706 non-null  int64
 13  difficult_negative_case  54706 non-null  bool
dtypes: bool(1), float64(2), int64(8), object(3)
memory usage: 5.5+ MB
None

In [8]:
# descrptive statistics for numerical columns

print(data_02_c.describe(include= 'all'))

             site_id    patient_id      image_id laterality   view  \
count   54706.000000  54706.000000  5.470600e+04      54706  54706
unique           NaN           NaN           NaN          2      6
top              NaN           NaN           NaN          R    MLO
freq             NaN           NaN           NaN      27439  27903
mean        1.460407  32698.865262  1.079386e+09        NaN    NaN
std         0.498434  18893.861534  6.183269e+08        NaN    NaN
min         1.000000      5.000000  6.849100e+04        NaN    NaN
25%         1.000000  16481.000000  5.458153e+08        NaN    NaN
50%         1.000000  32432.000000  1.082689e+09        NaN    NaN
75%         2.000000  48999.000000  1.613228e+09        NaN    NaN
max         2.000000  65534.000000  2.147472e+09        NaN    NaN

                 age        cancer        biopsy      invasive        BIRADS  \
count   54669.000000  54706.000000  54706.000000  54706.000000  26286.000000
unique           NaN           NaN           NaN           NaN           NaN
top              NaN           NaN           NaN           NaN           NaN
freq             NaN           NaN           NaN           NaN           NaN
mean       58.543928      0.021168      0.054272      0.014953      0.772350
std        10.050884      0.143944      0.226556      0.121365      0.590062
min        26.000000      0.000000      0.000000      0.000000      0.000000
25%        51.000000      0.000000      0.000000      0.000000      0.000000
50%        59.000000      0.000000      0.000000      0.000000      1.000000
75%        66.000000      0.000000      0.000000      0.000000      1.000000
max        89.000000      1.000000      1.000000      1.000000      2.000000

             implant density    machine_id difficult_negative_case
count   54706.000000   29470  54706.000000                   54706
unique           NaN       4           NaN                       2
top              NaN       B           NaN                   False
freq             NaN   12651           NaN                   47001
mean        0.026999     NaN     54.618378                     NaN
std         0.162081     NaN     44.784800                     NaN
min         0.000000     NaN     21.000000                     NaN
25%         0.000000     NaN     29.000000                     NaN
50%         0.000000     NaN     49.000000                     NaN
75%         0.000000     NaN     49.000000                     NaN
max         1.000000     NaN    216.000000                     NaN